version: '3.8'

services:

  # Invoice Extractor Service
  invoice-extractor-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: invoice-extractor-api
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATASOURCE_URL: jdbc:postgresql://dpg-d4pfk8khg0os73ar3c70-a.virginia-postgres.render.com/postgresql_invoice_service
      DATASOURCE_USERNAME: lespinoza
      DATASOURCE_PASSWORD: q79wfvFfHxhdL36pWB0D4iSCRriuygt1
      TESSDATA_PREFIX: /usr/share/tesseract-ocr/4.00/tessdata
      UPLOAD_DIRECTORY: /app/uploads
      GROQ_API_KEY: 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
    ports:
      - "8080:8080"
    volumes:
      - uploads_data:/app/uploads
    networks:
      - invoice-network
    # No depends_on, as DB is remote
    restart: unless-stopped

volumes:
  uploads_data:
    driver: local

networks:
  invoice-network:
    driver: bridge
