version: '3.8'

services:

  invoice-extractor-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: invoice-extractor-api
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DATASOURCE_URL: ${DATASOURCE_URL}
      DATASOURCE_USERNAME: ${DATASOURCE_USERNAME}
      DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD}
      TESSDATA_PREFIX: /usr/share/tesseract-ocr/4.00/tessdata
      UPLOAD_DIRECTORY: /app/uploads
      GROQ_API_KEY: ${GROQ_API_KEY}
    ports:
      - "8080:8080"
    volumes:
      - uploads_data:/app/uploads
    networks:
      - invoice-network
    restart: unless-stopped

volumes:
  uploads_data:
    driver: local

networks:
  invoice-network:
    driver: bridge
