commands:
  01_update_packages:
    command: "sudo yum update -y"
    ignoreErrors: true
  02_install_tesseract:
    command: "sudo amazon-linux-extras install tesseract -y"
    ignoreErrors: false
  03_install_language_data:
    command: |
      sudo yum install -y tesseract-langpack-eng tesseract-langpack-spa
    ignoreErrors: true
  04_verify_installation:
    command: "tesseract --version && tesseract --list-langs"
    ignoreErrors: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    TESSDATA_PREFIX: "/usr/share/tesseract/tessdata"
